*{
  box-sizing: border-box;;
}
.ul-footer{
  background-color:grey;
  overflow:hidden;
  list-style-type: none;
  padding:5px;
  margin:25px;
  
}
.ul-footer li{
  display:block;
  padding:5px;
}
.ul-footer a:hover {
  background-color:silver;
  padding:5px;
  overflow:hidden;
}
 table{
  box-sizing: border-box;
}
.ul-header{
  background-color:grey;
  overflow:hidden;
  list-style-type: none;
  padding: 15px;
  margin:25px;
}
.ul-header li{
  display: inline;
  padding-left: 10px;
}
.ul-header a{
  text-decoration-style: none;;
}
